      Welcome to the Red Hat Workgroups Technical Playground
      ====
      Welcome to the Red Hat Workgroups Technical Playground!  The goal of the Workgroups is to help 
      Red Hatters improve their skills through practice of real world tasks to help them achieve 
      their RHCSA, RHCE, or OCP certifcations. 
      We would like to emphasize that the Workgropus Technical Playground site is entirely self-supported 
      and managed by a group of collaborators. 

      We believe that collaborative learning and knowledge sharing are essential to a Red Hatter's development,
      and we strive to create a useful tool to faciliate one's learning.

      For more information on how to get involved with this project reach out to soemone within the Workgroup chat 
      rooms.