variable "vm_info" {
  type = map  
  default = {
    {% if workgroup == 'rhcsa'  %}    
    "count" = "{{ vm_count|default('3') }}"
    {% elif workgroup == 'rhce'%}
    "count" = "{{ vm_count|default('5') }}"{% endif %}
    "workgroup" = "{{ workgroup }}"
  }
}

variable "resource_group" {
  type = map
  default = {
    "name" =  "{{ lookup('env','AZURE_RESOURCE_GROUP') }}"
    "location"  = "{{ azure_location }}"
  }
}

variable "ssh_connection" {
  type = map 
  default = {
    "ssh_key"   = "{{ rhpds_ssh_public_key_path }}"
    "ssh_user"  = "student"
  }
}
