Welcome 
====
Welcome to the Red Hat Workgroups Technical Playground!  The goal of the Workgroups is to help 
Red Hatters improve their skills through practice of real world tasks to help them achieve 
their RHCSA, RHCE, or OCP certifcations. All tasks provided are "real world" tasks that do not violate the
exam NDAs.  They are designed to  help you meet the objectives for the RHCSA/RHCE/OCP certification exams.  
There are no "answers" or "grading" in this environment.  The goal is to provide you an ephemeral environment so 
you can practice tasks that will help increase your chances of success.
We would like to emphasize that the Workgroups Technical Playground site:   

- **Is self-support for all technical issues**  
- **Adheres to NDA for Red Hat Certication exams**   

We believe that collaborative learning and knowledge sharing are essential to a Red Hatter's self-development,
and we have strived to create an environment to faciliate those ideals.

For more information or how to get involved with the "Workgroups" reach out to someone within the Google "RHCSA Workgroup"
, "RHCE Workgroup", or "OCP Workgroup" chat rooms.   

Bugs or Issues can be logged at http://PLACEHOLDER_FOR_FINAL_GIT_REPO  